.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.fl-end {
  justify-content: flex-end;
}

.fl-j-center {
  justify-content: center;
}

.fl-js-center {
  justify-self: center;
}

.fl-a-center {
  align-items: center;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-50 {
  margin-left: 50%;
}

.b-box {
  box-sizing: border-box;
}

.gray {
  color: gray;
  filter:saturate(0);
}