.relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.fl-end {
  justify-content: flex-end;
}

.fl-j-center {
  justify-content: center;
}

.fl-a-center {
  align-items: center;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.b-box {
  box-sizing: border-box;
}