@import url(index.css);

#title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 28rem;
  height: 100%;
}

#title-screen h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

.wrapper {
  border-radius: var(--b-radius);
  background-color: var(--gray);
  width: inherit;
}

#search-results {
  position: relative;
  margin: 0;
  list-style: none;
  padding: calc(var(--pad-y)/2) 0;
}

#page-nav {
  position: relative;
  display: flex;
  align-items: center;
}

#search-results:before, #page-nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: var(--pad-x);
  height: 1px;
  width: calc(100% - var(--pad-x) * 2);
  background: gray;
}

#search-results li {
  padding: calc(var(--pad-y)/2) var(--pad-x);
}

#search-results li:hover,
.selected {
  cursor: default;
  background-color: rgb(82, 82, 82);
  outline: none;
}

#header-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 28rem;
  margin: auto;
  height: 2.35rem;
}

#header {
  position: absolute;
  width: 100%;
}

#header h1 {
  font-weight: normal;
  position: absolute;
  right: 0;
  margin: 0.3rem var(--pad-x) 0 0;
  font-size: 1.5rem;
}

#header input {
  padding-right: 3rem;
}