@import url(index.css);

#title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 28rem;
  padding: 1.5rem;
  height: 100%;
}

#title-screen h1 {
  font-size: 2.5rem;
  margin: 1rem;
}

#title-screen form input {
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  border-radius: var(--b-radius);
  background-color: var(--gray);
  width: 100%;
}

#search-results {
  position: relative;
  margin: 0;
  list-style: none;
  padding: calc(var(--pad-y)/2) 0;
}

#search-results:before {
  content: "";
  position: absolute;
  top: 0;
  left: var(--pad-x);
  height: 1px;
  width: calc(100% - var(--pad-x) * 2);
  background: var(--white);
}

#search-results::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--pad-x);
  height: 1px;
  width: calc(100% - var(--pad-x) * 2);
  background: var(--white);
}

#search-results li {
  padding: calc(var(--pad-y)/2) var(--pad-x);
}

#search-results li:hover,
.selected {
  cursor: default;
  background-color: rgb(82, 82, 82);
  outline: none;
}
