:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pad-y: 0.8rem;
  --pad-x: 1.2rem;
  --pad: var(--pad-y) var(--pad-x);

  --white: rgb(238, 238, 238);
  --gray: #353535;
  --black: rgb(26, 26, 26);
  --blue: #646cff;

  --b-radius: 8px;
}

body {
  margin: 1.5rem;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: var(--b-radius);
  border: none;
  padding: var(--pad);
  font-size: 1rem;
  font-family: monospace;
  background-color: var(--gray);
  cursor: pointer;
  color: inherit;
}

input {
  border-radius: var(--b-radius);
  border: none;
  outline: none;
  font-family: monospace;
  padding: var(--pad);
  font-size: 1rem;
  background-color: var(--gray);
  color: inherit;
}