:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pad-y: 0.6rem;
  --pad-x: 1.2rem;
  --pad: var(--pad-y) var(--pad-x);

  --white: #eeeeee;
  --gray: #353535;
  --black: #1a1a1a;
  --blue: #646cff;

  --b-radius: 8px;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: var(--b-radius);
  border: 1px solid transparent;
  padding: var(--pad);
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--gray);
  cursor: pointer;
}

input {
  border-radius: var(--b-radius);
  border: none;
  outline: none;
  font-family: inherit;
  padding: var(--pad);
  font-size: 1rem;
  background-color: var(--gray);
  color: inherit;
}