/*************************************************************************************************
 * Buttons
 *************************************************************************************************/

@import url('../index.css');

.button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  /* Resets. */
  padding: 0;
  user-select: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Easy way to hide all buttons that are not supported in current env (e.g. fullscreen/pip). */
.button[aria-hidden='true'] {
  display: none;
}

.button>svg {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}

.button[data-focus]>svg {
  box-shadow: var(--focus-ring);
}

.seek {
  background-color: transparent;
  margin-left: calc(-1 * var(--pad-x));
}

@media (max-width: 1024px) {
  .mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
}