/*************************************************************************************************
 * Buttons
 *************************************************************************************************/

@import url('../index.css');

.button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--white);
  cursor: pointer;
  /* Resets. */
  padding: 0;
  user-select: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
}

/* Easy way to hide all buttons that are not supported in current env (e.g. fullscreen/pip). */
.button[aria-hidden='true'] {
  display: none !important;
}

.button[data-mobile-ep-loading='true'] {
  visibility: hidden !important;
}

.button>svg {
  width: 80%;
  height: 80%;
  border-radius: 2px;
}

.button[data-focus]>svg {
  box-shadow: var(--focus-ring);
}

.seek {
  background-color: transparent;
  margin-left: calc(-1 * var(--pad-x));
  text-decoration: underline;
}

.quality {
  margin-right: var(--pad-x);
  text-decoration: underline;
}

.radioWrapper {
  padding: calc(var(--pad-y)/2) 0;
  border-radius: var(--b-radius);
  background-color: rgba(0, 0, 0, 0.464);
}

.radioChild {
  padding: calc(var(--pad-y)/2) var(--pad-x);
  cursor: pointer;
}

.playbackSpacer {
  display: none;
}

@media (max-width: 1024px) {
  .playButtonMobile {
    width: 80px;
    height: 80px;
  }

  .playbackSpacer {
    display: initial;
  }
}