/*************************************************************************************************
 * Slider
 *************************************************************************************************/
@import url(../index.css);

.slider {
  display: inline-flex;
  align-items: center;
  width: calc(100% - calc(var(--pad-x)*2));
  height: 40px;
  position: relative;
  contain: layout style;
  outline: none;
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  margin: 0 var(--pad-x);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
}

.sliderSmall {
  max-width: 72px;
  margin: 0 var(--pad-y);
}

.slider[data-focus] .track {
  box-shadow: var(--media-focus-ring);
}

.track {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  border-radius: 5px;
  transform: translateY(-50%) translateZ(0);
  background-color: rgb(255 255 255 / 0.3);
  contain: layout style;
  z-index: 2;
}

.trackFill {
  z-index: 3;
  /** above track and track progress. */
  background-color: var(--media-brand);
  width: var(--slider-fill, 0%);
  will-change: width;
}

.slider[aria-orientation='vertical'] {
  margin: var(--pad);
  height: 72px;
  width: 10px;
}

.slider[aria-orientation='vertical'] .track {
  top: 100%;
  transform: translateX(100%) translateY(-100%) translateZ(0);
  height: 72px;
  width: 3px;
}

.slider[aria-orientation='vertical'] .trackFill {
  height: var(--slider-fill);
  will-change: height;
}

/*************************************************************************************************
 * Slider Thumb
 *************************************************************************************************/

.thumb {
  position: absolute;
  top: 50%;
  left: var(--slider-fill);
  contain: layout size style;
  width: 30px;
  height: 15px;
  border-radius: 9999px;
  background-color: var(--white);
  transform: translate(-50%, -50%) translateZ(0) scale(0, 0);
  transition: transform 0.05s;
  pointer-events: none;
  will-change: left;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
}

.slider[aria-orientation='vertical'] .thumb {
  will-change: top;
  margin-top: 71.5px;
  top: calc(-1 * var(--slider-fill));
  left: 50%;
}

.sliderSmall .thumb {
  width: 13px;
  height: 13px;
}

[data-active]>.thumb {
  transform: translate(-50%, -50%) translateZ(0) scale(1, 1);
}