@import url('@vidstack/react/player/styles/base.css');

/*************************************************************************************************
 * Controls
 *************************************************************************************************/

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  width: 100%;
  visibility: hidden;
}

.controls[data-visible] {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.464);
}

.loadingBackground {
  border-radius: var(--b-radius);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.464);
}

.controlsGroup {
  display: flex;
  align-items: center;
  padding-inline: 8px;
}

.controlsGroup:last-child {
  margin-top: -10px;
  padding-bottom: 8px;
}

.spacer {
  flex: 1 1 0%;
  pointer-events: none;
}

.controls :global(.fullscreen-button) {
  margin-right: 0 !important;
}

.playbackControls {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.playerTitle {
  margin-left: var(--pad-x);
}

@media (max-width: 1368px) {
  .playbackControls {
    position: absolute;
    gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*************************************************************************************************
 * Gestures
 *************************************************************************************************/

.gesture {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gesture[action='seek:10'] {
  left: unset;
  right: 0;
}

.gesture[action='seek:-10'],
.gesture[action='seek:10'] {
  width: 35%;
}

.seekTenFeedback {
  width: 100%;
  height: 100%;
  transition: 0.25s ease-out;
  opacity: 0;
  color: transparent;
  background: transparent;
  border-radius: 0;
}

/* Remove toggle to pause on touch. */
@media (pointer: coarse) {
  .gesture[action='toggle:paused'] {
    display: none;
  }
}

/* Remove double tap to fullscreen on touch */
@media (pointer: coarse) {
  .gesture[action='toggle:fullscreen'] {
    display: none;
  }
}

/* Remove toggle controls on mouse. */
@media not (pointer: coarse) {
  .gesture[action='toggle:controls'] {
    display: none;
  }
}

/* Remove double tap seek on mouse */
@media not (pointer: coarse) {

  .gesture[action='seek:10'],
  .gesture[action='seek:-10'] {
    display: none;
  }
}