@import url(index.css);

#title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 30rem;
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
}

#title-screen h1 {
  font-size: 3rem;
  margin: 1rem;
}

#title-screen form {
  width: 100%;
}

#title-screen form input {
  width: 100%;
  box-sizing: border-box;
}

#search-results {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--black);
  border-bottom-right-radius: var(--b-radius);
  border-bottom-left-radius: var(--b-radius);
  list-style: none;
  padding: calc(var(--pad-y)/2) 0;
}

#search-results:before {
  content: "";
  position: absolute;
  top: 0;
  left: var(--pad-x);
  height: 1px;
  width: calc(100% - var(--pad-x) * 2);
  background: var(--gray);
}

#search-results li {
  padding: calc(var(--pad-y)/2) var(--pad-x);
}

.flat-bottom-br {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.relative {
  position: relative;
}

.w-100 {
  width: 100%;
}