@import url('index.css');

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.gap {
  gap: 1.5rem;
}

.fl-end {
  justify-content: flex-end;
}

.fl-j-center {
  justify-content: center;
}

.fl-a-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-50 {
  margin-left: 50%;
}

.mb-1p5r {
  margin-bottom: 1.5rem;
}

.pb-1p5r {
  padding-bottom: 1.5rem;
}

.txt-center {
  text-align: center;
}

.inline {
  display: inline;
}

.bg-c-none {
  background-color: transparent;
}

.ul-hover:hover,
.ul-hover:hover>form>input {
  text-decoration: underline;
}

.txt-dec-none {
  color: inherit;
  text-decoration: none;
}

.txt-dec-none:hover {
  text-decoration: none;
}