@import url(index.css);

:root {
  --searchbar-width: 35rem;
}

@media (max-width: 480px) {
  :root {
    --searchbar-width: 100%;
  }
}

/* HOME PAGE */

#greeting {
  margin: auto;
  padding-bottom: 5rem;
  text-align: center;
}

/* HEADER */

#header {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 99;
}

/* SEARCH BAR */

#searchbar {
  position: relative;
  width: var(--searchbar-width);
}

#searchbar form,
#searchbar input {
  width: inherit;
}

#dropdown {
  position: absolute;
  background-color: var(--gray);
  border-radius: var(--b-radius);
  width: inherit;
}

/* Hides border radii between searchbar and dropdown */
#dropdown::before {
  z-index: -1;
  position: absolute;
  padding-top: 1rem;
  margin-top: -1rem;
  content: "";
  height: 10px;
  width: inherit;
  background-color: var(--gray);
}

/* Psuedo bottom margin */
#dropdown::after {
  position: absolute;
  content: "";
  bottom: 0;
  margin-bottom: calc(-1.5rem - 1px);
  height: 1px;
  width: 1px;
}

.loading {
  white-space: pre;
  position: absolute;
}

form .loading {
  right: var(--pad-x);
}

#search-results {
  position: relative;
  margin: 0;
  list-style: none;
  padding: calc(var(--pad-y)/2) 0;
}

#page-nav {
  position: relative;
  display: flex;
  align-items: center;
}

/* Dropdown line accent */
#search-results:before,
#page-nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: var(--pad-x);
  width: calc(100% - var(--pad-x) * 2);
  border-top: 1px solid gray;
}

#close-results {
  border-top: 1px solid gray;
  margin-left: var(--pad-x);
  width: calc(100% - var(--pad-x) * 2);
  border-radius: 0;
}

#search-results li {
  padding: calc(var(--pad-y)/2) var(--pad-x);
}

#search-results li:hover:not(.no-results),
.selected {
  cursor: default;
  background-color: rgb(82, 82, 82);
  outline: none;
}

/* PLAYER */

#player-container {
  width: 60rem;
  max-width: 100%;
  background-color: black;
}

@media (max-width: 480px) {
  #player-container {
    width: 100vw;
    max-width: 100vw;
  }
}

#player-ratio {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}